
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}


h2{
    text-align: left;
}
h1{
    color: white;
}

#gid{
    display: none;
}
.w3-large{
    max-width:1600px;
    margin-left: 128px;
    margin-right: 128px;
}

.w3-quarter{
    width: 35%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color:mediumseagreen;
}


button{
    border: none;
    border-radius: 5px;
}

input[type=image]{
    width: 70px;
    height: 70px;
}


#bottone{
    position: relative;
    top: 6px;
    left:1200px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #14248a;
    width: 120px;
    height: 45px;
}

.icon {
width: 9%;
height: 9%;
cursor: pointer;
}
