

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

h2{
    font-family: "Telargo", sans-serif; text-align: center
}

h1{
    color: white;
}

p{
    text-align: left; font-family: "Telargo", sans-serif;
}


.w3-large{
    max-width:1600px;
    margin-left: 128px;
    margin-right: 128px;
}

.w3-row{
    margin-bottom:128px;

}


#confronto{
    height: 600px;

}

svg{
    position: relative;
    left: 95px;
    top: 70px;
}
button{
    border: none;
    border-radius: 5px;
}

img{
    position: relative;
    left: 35px;
    top: 20px;
    width: 70px;

}
#sinistra{
    position: relative;
    left: 50px;
}
#destra{
    position: relative;
    right: -50px;
}

#datiP{
     font-size: 15px;
     line-height:0.5px;
 }

#datiR{
    font-size: 15px;
    line-height:0.5px;
}



#bottone{
    position: relative;
    top: 6px;
    left:1220px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #14248a;
    width: 120px;
    height: 45px;
}

#immagineP{
    padding: 0;
    position: relative;
    left: 5px;
}

#slider-simple{
    position: relative;
    left: -140px;
}

p#risoluzione {
    font-size: medium;
    color: black;
    text-align: left;
    padding-bottom: 0px;
    padding-right: 0px;
    position: relative;
    right: -150px;
    top: 80px;

}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}




